body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 3em;
  }

:root {
  --color-accent: oklch(55% 15% 150); /* Replace with your desired color */
  accent-color: var(--color-accent); /* For forms and other accentable elements */
  color-scheme: light dark
}

#monkey {
  max-width: 100%; 
  height: auto; 
  display: block; 
}

label.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  display: flex;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--border-color);

  a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
    /* transition: border-bottom-color 0.3s ease; */
  }
  a.current {
    border-bottom: 0.4em solid var(--border-color);
    padding-bottom: 0.1em;
    font-weight: bold;
  }
  a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    padding-bottom: 0.1em;
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
  }
}

/* input, textarea, button {
  font: inherit;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-block: 0.5em;
} */

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;

  /* label, input, textarea, button {
    font:inherit;
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;
  }
  input, textarea, button {
    
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
  } */

  label, input, textarea, button, select {
    font:inherit;
  }
  button {
    grid-column: 1/-1;
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;

  article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    margin-bottom: 2em;

    /* padding: 1em; */
  }
  h2 {
    margin: 0
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance; 
}

h1{
  font-size: 400%;
}

.resume {  
  h2 {
    font-size: 1.8em;
    margin-top: 1.5em; 
    margin-bottom: 0.5em; 
    /* color: #2c3e50;  */
    border-bottom: 2px solid #2c3e50; 
    padding-bottom: 0.2em; 
  }
  
  h3 {
    font-size: 1.4em;
    margin-top: 1em; 
    margin-bottom: 0.3em; 
    /* color: #34495e;  */
  }
  
  p {
    margin: 0.5em 0; 
    /* color: #555;  */
  }
  
  p i {
    font-style: italic;
    /* color: #555; */
  }
  
  p b {
    font-weight: bold;
    /* color: #2c3e50;  */
  }
  
  ul {
    margin: 0.5em 0 1em 1.5em;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 0.5em; 
    /* color: #444;  */
  }
  

  time {
    font-style: italic; 
    /* color: #666; */
  }
}
